<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245003189151-4f4al8r114n8nujh7s4oo6p8eujf145f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245003189151-4f4al8r114n8nujh7s4oo6p8eujf145f</string>
	<key>API_KEY</key>
	<string>AIzaSyAAfHypcwG9rMA1ASjI-kvf9rbdAIFe-j4</string>
	<key>GCM_SENDER_ID</key>
	<string>245003189151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pankajnaik.flashChat</string>
	<key>PROJECT_ID</key>
	<string>fire-base-a37b7</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-base-a37b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245003189151:ios:7de6a1182af26394c79baa</string>
	<key>DATABASE_URL</key>
	<string>https://fire-base-a37b7.firebaseio.com</string>
</dict>
</plist>